# Lists

In [37]:
def subtraction(a,b):
    return a -b 

subtraction(a=10,b=-3)

13

In [38]:
def insert_at_a(l, position, e): 
    # concatenation of the list from 0 to "position" element
    left_part = l[-position:] # this is a list 
    left_part.append(e) # this is a list 
    right_part = l[:position]# this is a list 
    return left_part + right_part

my_list1 = [1,2,3,4,5,6,7,8,9]    
insert_at(my_list1, 5, 9999)

my_list.insert(5, 9999)
my_list

[1, 20, 3, 4, 5, 9999, 9999, 9999, 9999, True]

In [ ]:
my_list = [1, 2, 3, 'python', 4, 5 ] 
# can print complex data types
print("List sample", my_list)
print("Second element of the list", my_list[1])
# the list is mutable and so the elements can change
my_list[1]=20
my_list.append(True)
print("List sample", my_list)
my_list.remove(my_list[3])
print("List sample", my_list)
print("Left part of the list", my_list[:3])
print("Right part of the list", my_list[3:])
print("Right part of the list", my_list[-3:])

# Tuples

In [39]:
my_tuple =("apple", "banana", "cherry")
type(my_tuple)

tuple

In [42]:
my_tuple[0]

'apple'

In [43]:
# tuples cannot be changed but are ordered
my_tuple.append("orange")

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
my_tuple[2]

'cherry'

# Dictionaries

In [46]:
my_dictionary = {"name": "Alice", "age": "25", "location":"New York"}

In [47]:
my_dictionary

{'name': 'Alice', 'age': '25', 'location': 'New York'}

In [50]:
my_dictionary ["age"]

'25'

In [51]:
# my_dictionary[1] error, because they are unordered

In [53]:
my_dictionary["country"] = "United States"

In [54]:
my_dictionary

{'name': 'Alice',
 'age': '25',
 'location': 'New York',
 'country': 'United States'}

In [55]:
my_dictionary["tuple"] = my_tuple

In [56]:
my_dictionary

{'name': 'Alice',
 'age': '25',
 'location': 'New York',
 'country': 'United States',
 'tuple': ('apple', 'banana', 'cherry')}

In [66]:
print(my_dictionary["tuple"][1])
len(my_dictionary)

banana

5

# Set

In [59]:
my_set = {1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [63]:
my_set = {1,2,3,4,5,6,1,2,5,8,7,4}
print(my_set)
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [64]:
len(my_set)

9