# FOR LOOPS

In [1]:
range(5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
my_list = [1,4,7,10,-5]
my_list

[1, 4, 7, 10, -5]

In [5]:
for i in my_list:
    print(i)
# the important thing to secure is an ordered list of elements (tuple, list)

1
4
7
10
-5

In [7]:
my_tuple=(3, -2, "hello", True)
my_tuple

(3, -2, 'hello', True)

In [8]:
for i in my_tuple:
    print(i)

3
-2
hello
True

In [16]:
for i in range(4):
    print("Barbera")

Barbera
Barbera
Barbera
Barbera

In [12]:
# we can concatenate with a f string

In [15]:
for i in range(4):
    print(f"Barbera {i}")

Barbera 0
Barbera 1
Barbera 2
Barbera 3

# While

In [20]:
counter=0
while counter < 5:
    print(counter)
    counter +=1

0
1
2
3
4

In [2]:
counter=0
while counter < 5:
    print(counter)
    counter +=1
    if counter ==3:
        break
print(counter)

0
1
2
3

# Break

In [4]:
counter=0
while counter < 5:
    print(f"within the loop: {counter}")
    counter +=1
    if counter ==3:
        break
print(f"Outside of the loop:{counter}")

within the loop: 0
within the loop: 1
within the loop: 2
Outside of the loop:3

# Error Handling

In [6]:
try:
    x = 3/0 

except ZeroDivisionError as e: 
    print(e)

division by zero

In [9]:
try:
    x = 10 + "abc"

except TypeError as e:
    print(f"The following error occurred: {e}")

The following error occurred: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
try: 
    my_list = [1,2,3,4,5]
    print(my_list[10])
  
except IndexError as e:
    print(f"The following eorre tyoe has happenend {e}")

The following eorre tyoe has happenend list index out of range